.logo-card {
}

.curve-edge {
  padding: 20%;
  border-radius: 15%;
  border: 0;
}

.disabled-img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
